body {
    padding: 0;
    margin: 0;
    transition: 1s;
}
main, section, body, h1, h2 {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
section {
    min-height: 100vh;
    align-content: center;
}
h1 {
    font-family: utopia-std, serif;
    font-style: bold;
    font-weight: 700;
    font-size: 5em;
}
h2 {
    font-family: utopia-std, serif;
    font-style: bold;
    font-weight: 700;
    font-size: 3em;
    margin-top: -10rem;
}
#intro-screen {
    display: none;
}
#color-select {
    display: none;
    justify-content: space-around;
    padding: 0 2em;
}
#color-select a {
    display: flex;
    justify-content: center;
    padding: 8rem;
    text-decoration: none;
    border-radius: 15px;
    transition: .2s;
}
#number-select a {
    display: flex;
    justify-content: center;
    padding: 8rem;
    text-decoration: none;
    border-radius: 15px;
    transition: .2s;
    background-color: #fff;
    color: #272034;
}

@media screen and (max-width: 820px){
    h1 {
        font-size: 3em;
    }
}
@media screen and (max-width: 480px){
    h1 {
        font-size: 2em;
    }
}