body {
    padding: 0;
    margin: 0;
    transition: 1s;
}
main, section, body, h1, h2 {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
section {
    min-height: 100vh;
    align-content: center;
}
h1 {
    font-family: utopia-std, serif;
    font-style: bold;
    font-weight: 700;
    font-size: 5em;
    color: #272034;
}
h2 {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    margin-top: -10rem;
    text-align: center;
    color: #fff;
}
p, a {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
}
p {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
a {
    display: flex;
    justify-content: center;
    padding: 7rem;
    text-decoration: none;
    border-radius: 15px;
    transition: .2s;
    font-size: 2.5rem;
}
#intro-screen, #reveal {
    display: none;
}
#color-select, #number-select, #fortune-select, #reveal {
    display: none;
    justify-content: space-around;
    padding: 0 2em;
}
#color-select h2 {
    color: #272034;
}
#number-select a, #fortune-select a {
    background-color: #fff;
    color: #272034;
}

@media screen and (max-width: 1160px){
    a {
        padding: 6rem;
    }
}
@media screen and (max-width: 920px){
    a {
        padding: 4rem;
    }
}
@media screen and (max-width: 820px){
    h1 {
        font-size: 3em;
    }
}
@media screen and (max-width: 640px){
    section{
        flex-wrap: wrap;
    }
    a {
        width: 25%;
        margin-bottom: 2rem;
        padding: 5rem 2rem;
    }
}
@media screen and (max-width: 480px){
    h1 {
        font-size: 2em;
    }
}
@media screen and (max-width: 480px){
    h2{
        margin-top: 2rem;
    }
    a {
        width: 50%;
        padding: 6rem 2rem;
    }
}